body
{
    background: #f6f6f6;
}
#main_container
{
    margin-top: 50px;
}
#content_container
{
    background: #f6f6f6;
    padding: 10px 30px;
    border-radius: 0 0 5px 5px;
}
#login_container
{
    margin-top: 50px;
    margin-bottom: 100px;
}
#register_container
{
    margin-top: 30px;
}
#books_container
{
    margin-top: 30px;
}  
.login_fail
{
    font-weight: bold;
    color: red;
}
.error_message_login
{
    margin-top: 7px;
    margin-bottom: -28px;
}
.error_message
{
    margin-top: 5px;
    margin-bottom: -27px;
    margin-right: 0;
    float: right;
}
.text_error_message
{
    font-size: 13px;
    font-weight: 400;
    padding: 3px !important;
    background: #ee3333;
    color: white;
}
.register_label 
{
    margin-top: 5px;
}
.img_detail_book
{
    width: 100%;
    padding: 5px;
}
.title_detail_book
{
    font-size: 30px;
    color: #eb9316;
    margin: 0;
    font-weight: 500;
    margin-bottom: 20px;
}
#img_detail_container 
{
    margin-bottom: 20px;
}
.info_detail_book 
{
    font-size: 16px;
    color: #333;
}
.add_detail_book
{
    color: #333;
    background: #eb9316;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.description_detail_book 
{
    font-size: 16px;
    text-align: justify;
}
#table_mycar td
{
    padding: 10px 5px !important;
}
#table_myrequisitions td
{
    padding: 10px 5px !important;
}
#table_requisition_detail
{
    margin-top: 20px;
}
.img_book_requisition
{
    height: 60px;
}
#table_requisition_detail td
{
    vertical-align:middle
}
#table_admin_sales td
{
    vertical-align:middle;
    padding: 10px 5px !important;
}
#table_admin_books td
{
    vertical-align:middle;
    padding: 10px 5px !important;
}
.img_book_container
{
    background: #f2f2f2;
    margin: 8px;
    padding: 10px 0; 
    border-radius: 2px;
    height: 360px;
}
.img-book
{
    height: 250px;
    margin: 10px;
    border-radius: 2px;
}
.title_book_catalog
{
    color: #333;
    margin: 0 20px;
    border-radius: 1px;
    padding: 5px;
    font-weight: 500;
    margin: 0 10px;
}
#p_book_catalog
{
    text-align: left;
}
.panel-heading
{
    background: #333 !important;
    color: #ddd !important;
    text-align: center;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 3px;
    font-weight: 500;
}
.panel
{
    border: 1px solid #333 !important;
}
#table_office td
{
    padding: 15px 3px;
    border-bottom: 1px solid #ccc; 
}
#table_myacoount td
{
    padding: 15px;
    border-bottom: 1px solid #ccc; 
}
.button-left
{
    float: left;
    margin-left: 10px;
}
.button-right
{
    float: right;
    margin-right: 50px;
}